* {
}

.card {
  border: 1px solid hsl(78, 19%, 80%);
  border-radius: 5px;
  top: 330px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin-top: 120px;
  margin-left: 60px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  transition: 0.5s;
}
.card:hover {
  /* -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5); */
  transform: scale(1.09);
}
.card .card-img {
  height: 200px;
  width: 200px;
  border-radius: 30%;
  /* margin-bottom: 5px; */
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 0%, 0%, 0.687);
}
.card .card-txt {
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 0%, 0%, 0.678);
}

.card .add-cart {
  background-color: #165419;
  color: white;
  outline: none;
  border: 0;
}
