.cantact-us-main img {
  height: 700px;
  width: 1200x;
  border-top-right-radius: 60%;
  border-radius: 0 100em 100em 0;
}

.feedback-content {
  position: absolute;
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  bottom: 50px;
  margin-left: 100px;
  background: rgba(231, 252, 233, 0);
  box-shadow: 3px 1px 8px #8eb490;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  line-height: 75px;
  padding-left: 20px;
}

.feedback-content:hover {
  transform: scale(1.05);
}

.feedback-title {
  height: 75px;
  color: #165419;
  font-size: 26px;
  font-weight: 600;
}
.seperator {
  height: 1.5px;
  margin-top: 10px;
  width: 350px;
  background-color: #1654198d;
}

.feedback-context {
  font-size: 14px;
  line-height: 15px;
  font-weight: 24px;
  color: #706f6f;
}
.comment-section textarea {
  border: 2px solid rgba(0, 0, 0, 0.21);
  overflow: auto;
  width: 350px;
  height: 100px;
  border-radius: 5px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #706f6f;
}
.comment-section textarea::placeholder {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.feedback-content button {
  background-color: #165419;
  color: white;
  /* margin-top: 10px; */
  margin-left: 20px;
  width: 300px;
}

.app {
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.radio {
  display: none;
}
.radio ~ span {
  font-size: 2rem;
  filter: grayscale(100);
  cursor: pointer;
  transition: 0.3s;
}

.radio:checked ~ span {
  filter: grayscale(0);
  font-size: 3rem;
}
